<div class="header-container">
    <!-- Left Navigation -->
    <div class="nav-left">
        <div class="brand-name">
            &lt;DEV HUB/&gt;
        </div>
        <ul class="nav-icons">
            <li><mat-icon>notifications</mat-icon></li>
            <li><mat-icon>chat</mat-icon></li>
            <li><mat-icon>play_circle</mat-icon></li>
            <li><mat-icon>collections</mat-icon></li>
            <li><mat-icon>sports_esports</mat-icon></li>
        </ul>
    </div>

    <!-- Search Box -->
    <div class="search-box">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search">
    </div>

    <!-- Right User Menu -->
    <div class="nav-right">
        <div class="nav-user-icon online" (click)="settingsMenuToggle()">
            <img src="img/profile-pic.png" alt="Profile Picture">
        </div>
    </div>
</div>