<div class="app-container">

  <mat-toolbar class="header">
    <app-header></app-header>
  </mat-toolbar>

  <div class="main-container">

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #leftNav mode="side" opened class="left-sidebar">
        <div class="sidebar-content">
          <app-left-sidebar></app-left-sidebar>
        </div>
      </mat-sidenav>

      <mat-sidenav-content class="main-content">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>

      <mat-sidenav #rightNav position="end" mode="side" opened class="right-sidebar">
        <div class="sidebar-content">
          <app-right-sidebar></app-right-sidebar>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>

  </div>

</div>